SkinnyProtocolOptimized.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="entry">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="comment" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="text" use="optional"/>
          <xs:attribute type="xs:string" name="value" use="optional"/>
          <xs:attribute type="xs:string" name="boundscheck" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="entries">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="entry" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="string">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="comment" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="size" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="declare" use="optional"/>
          <xs:attribute type="xs:string" name="longcomment" use="optional"/>
          <xs:attribute type="xs:short" name="maxsize" use="optional"/>
          <xs:attribute type="xs:string" name="size_fieldname" use="optional"/>
          <xs:attribute type="xs:string" name="subtype" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="integer">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="comment" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="longcomment" use="optional"/>
          <xs:attribute type="xs:string" name="declare" use="optional"/>
          <xs:attribute type="xs:string" name="subtype" use="optional"/>
          <xs:attribute type="xs:string" name="use_param" use="optional"/>
          <xs:attribute type="xs:short" name="maxsize" use="optional"/>
          <xs:attribute type="xs:string" name="size_fieldname" use="optional"/>
          <xs:attribute type="xs:byte" name="size" use="optional"/>
          <xs:attribute type="xs:string" name="lookup_eq" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="fields">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="string"/>
        <xs:element ref="struct"/>
        <xs:element ref="ip"/>
        <xs:element ref="enum"/>
        <xs:element ref="integer"/>
        <xs:element ref="bitfield"/>
        <xs:element ref="ether"/>
        <xs:element ref="union"/>
        <xs:element ref="ipv4or6"/>
        <xs:element ref="xml"/>
      </xs:choice>
      <xs:attribute type="xs:short" name="size_gt" use="optional"/>
      <xs:attribute type="xs:byte" name="beginversion" use="optional"/>
      <xs:attribute type="xs:byte" name="endversion" use="optional"/>
      <xs:attribute type="xs:byte" name="alignment" use="optional"/>
      <xs:attribute type="xs:short" name="size_lt" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="struct">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="fields" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="comment" use="optional"/>
      <xs:attribute type="xs:string" name="longcomment" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="lookup_eq" use="optional"/>
      <xs:attribute type="xs:string" name="subtype" use="optional"/>
      <xs:attribute type="xs:byte" name="maxsize" use="optional"/>
      <xs:attribute type="xs:string" name="size_fieldname" use="optional"/>
      <xs:attribute type="xs:byte" name="size" use="optional"/>
      <xs:attribute type="xs:string" name="lookup_le" use="optional"/>
      <xs:attribute type="xs:string" name="lookup_ge" use="optional"/>
      <xs:attribute type="xs:string" name="declare" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ip">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="comment" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="endianness" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="enum">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="entries" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="comment" use="optional"/>
      <xs:attribute type="xs:string" name="longcomment" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="subtype" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="lookup_eq" use="optional"/>
      <xs:attribute type="xs:string" name="declare" use="optional"/>
      <xs:attribute type="xs:byte" name="maxsize" use="optional"/>
      <xs:attribute type="xs:string" name="size_fieldname" use="optional"/>
      <xs:attribute type="xs:byte" name="size" use="optional"/>
      <xs:attribute type="xs:string" name="define" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitfield">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="entries" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="comment" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="size" use="optional"/>
      <xs:attribute type="xs:string" name="subtype" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="longcomment" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ether">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="comment" use="optional"/>
          <xs:attribute type="xs:string" name="longcomment" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:byte" name="size" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="union">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="fields" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="comment" use="optional"/>
      <xs:attribute type="xs:string" name="lookup_guide" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="subtype" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ipv4or6">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="comment" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="subtype" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="endianness" use="optional"/>
          <xs:attribute type="xs:byte" name="size" use="optional"/>
          <xs:attribute type="xs:string" name="endiannes" use="optional"/>
          <xs:attribute type="xs:string" name="use_param" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xml">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="comment" use="optional"/>
          <xs:attribute type="xs:short" name="maxsize" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="size_fieldname" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:short" name="size" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="message">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="fields" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="comment" use="optional"/>
      <xs:attribute type="xs:string" name="direction" use="optional"/>
      <xs:attribute type="xs:string" name="dynamic" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="opcode" use="optional"/><!--hexint-->
      <xs:attribute type="xs:string" name="status" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="priority" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="messages">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="bitfield" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="enum" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="message"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
